@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Dosis');

#map{
    height: 380px;
    width:350px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#modalwindow{
    width:450px;
}

#imagepreview{
    width: 400px;
    height: 260px;
    text-align: center;
}

#mainpagemap {
    height: 1000px;
    padding-top: 20px;
}

#uploadtext {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 40px;
    text-align: center;
}

#modaltitle{
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-size: 30px;
}

#modaldesc{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 15px;
}

#commentbox{
    border-radius: 25px;
    border: 2px solid #11FAC4;
    padding: 20px; 
    height: 150px; 
    width: 100%;
}

#stallbox{
    border-radius: 25px;
    border: 2px solid #11FAC4;
    padding: 20px; 
    width: 100%;
}

#address{
    border-radius: 25px;
    border: 2px solid #11FAC4;
    text-align: center;
    width: 200px;
}

#typeinaddressbox{
    padding-bottom: 10px;
    text-align: center;
}

#uploadbutton {
    width: 100%;
}

.latlongbox{
    border-radius: 25px;
    border: 2px solid #11FAC4;
    width: 130px;
    text-align: center;
}

.navbar {
    height: 50px;
}

.navselect {
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

.navbar-brand {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 30px;
}

#file {
    width: 100%;
}

.postcontainer {
    padding-top: 90px;
    background: #ddd6f3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    width: 100%;
}

.logincontainer{
    background: #d53369; 
    background: -webkit-linear-gradient(to right, #cbad6d, #d53369);  
    background: linear-gradient(to right, #cbad6d, #d53369);
    width: 100%;
    height: 1100px;
    padding-top: 150px;
}

.registercontainer {
    background: #E55D87; 
    background: -webkit-linear-gradient(to top, #5FC3E4, #E55D87); 
    background: linear-gradient(to top, #5FC3E4, #E55D87); 
    height: 1100px;
    width: 100%;
}

.uploadelements {
    text-align: center;
   border: 5px solid #11FAC4;
   height: 100%;
}

.posttext {
   font-family: 'Titillium Web', sans-serif;
   font-size: 17px;
}

#textbox{
    text-align: center;
}

