<div class="container postcontainer" onload="uploadCtrl.initialize()">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <form name="UploadFormS3" novalidate ng-submit="uploadCtrl.uploadS3()">
                <h1 id="uploadtext">Upload Your Hawker Dish</h1>
                </br>
                <p class="posttext">Upload your image below:</p>
                <div class="uploadelements">
                    <img ngf-thumbnail="uploadCtrl.imgFileS3" height="100"><br/>
                    <div ng-show="uploadCtrl.imgFileS3">
                        <span>{{uploadCtrl.imgFileS3.size}} in bytes </span>
                    </div>
                </div>

                <div class="form-group">
                    <div>

                        <!-- Select file to upload. Single file only. Accepts only images-->
                        <input id="file" type="file" ng-model="uploadCtrl.imgFileS3" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'" ng-exif-file='imageFile'>
                        <!--Google maps location-->
                        <div id="map"></div>
                        </br>
                        <p class="posttext" id="textbox">Type in the address of the hawker stall:</p>
                        <div id="typeinaddressbox">
                            <input id="address" type="textbox" placeholder="e.g. Newton Circus">
                            <input type="button" value="Find me!" ng-click="uploadCtrl.getGeoTag()">
                        </div>

                        <div style="text-align: center;">
                            <!--Lat-->
                            <p class="posttext" id="textbox">Latitude</p>
                            <input type="number" class="latlongbox" name="latitude" ng-model="uploadCtrl.uploadinformation.lat" disabled>{{geoTag.data.results[0].geometry.location.lat}}</input>

                            <!--Long-->
                            <p class="posttext" id="textbox">Longitude</p>
                            <input type="number" class="latlongbox" name="longitude" ng-model="uploadCtrl.uploadinformation.long" disabled>{{geoTag.data.results[0].geometry.location.long}}</input>
                        </div>
                        </br>


                        <!--Title-->
                        <p class="posttext">Enter stall name:</p>
                        <textarea name="" id="stallbox" cols="50" rows="1" ng-model="uploadCtrl.uploadinformation.title"></textarea>
                        </br>


                        <!--Desc-->
                        <p class="posttext">Enter your review:</p>
                        <textarea name="" id="commentbox" cols="50" rows="5" ng-model="uploadCtrl.uploadinformation.desc"></textarea>
                        </br>
                        </br>
                        <button type="submit" id="uploadbutton" class="btn btn-success" ng-disabled="UploadForm.$invalid">Upload</button>
                    </div>
                    <!-- Success and error flash messages. Logic based on status code returned after POST request -->
                    <div class="alert" role="alert" alert-dismissable ng-show="uploadCtrl.statusS3.code" ng-class="{'alert-success': uploadCtrl.statusS3.code == 202, 'alert-danger': uploadCtrl.statusS3.code == 400 }">
                        <button class="close" data-dismiss="alert">
                    <!-- data dismiss removes the element. This alert won't show up again before refreshing -->
                    &times;
                </button> {{ uploadCtrl.statusS3.message }}
                    </div>
                    <div>

                    </div>

            </form>

            </div>
        </div>
    </div>