<section class="registercontainer">

    <div class="row pad-top">
        <div class="col-md-12 pad-top-more">



            <div class="container" style="padding-top: 90px;">

                <div class="col-sm-6 col-sm-offset-2 animated fadeInUp">

                    <br>

                    <form name="registerForm" ng-submit="ctrl.register()" novalidate autocomplete="off">

                        <h4 class="regtext">Your Username:</h4>
                        <div class="form-group input-field col s6">
                            <input type="text" class="form-control" ng-model="ctrl.user.username" name="username" placeholder="Username" required>


                        </div>
                        <h4 class="regtext">Your Email:</h4>
                        <div class="form-group input-field col s6">
                            <input type="text" class="form-control" ng-model="ctrl.user.emailAddress" name="emailaddress" placeholder="Email Address"
                                required>


                        </div>



                        <h4 class="regtext">Your Name:</h4>
                        <div class="form-group input-field col s6">
                            <input type="text" class="form-control" ng-model="ctrl.user.firstName" name="firstName" placeholder="First Name" required>
                            <div class="help-block" ng-messages="registerForm.firstName.$error" ng-if="registerForm.firstName.$touched && registerForm.firstName.$invalid">

                            </div>
                        </div>



                        <div class="form-group input-field col s6">
                            <input type="text" class="form-control" ng-model="ctrl.user.lastName" name="lastName" placeholder="Last Name" required>
                            <div class="help-block" ng-messages="registerForm.lastName.$error" ng-if="registerForm.lastName.$touched && registerForm.lastName.$invalid">

                            </div>
                        </div>

                        <h4 class="regtext">The Holy Grail:</h4>
                        <div class="form-group input-field col s6">
                            <input type="password" class="form-control" ng-model="ctrl.user.password" name="password" placeholder="Password" minlength="8"
                                required>

                        </div>
                        <div class="form-group input-field col s6" ng-class="{ 'has-error': registerForm.confirmpassword.$touched && registerForm.confirmpassword.$invalid }">
                            <input type="password" class="form-control" ng-model="ctrl.user.confirmpassword" name="confirmpassword" placeholder="Confirm Password"
                                compare-to="ctrl.password" minlength="8" required>

                        </div>
                        </br>
                        <button type="submit" class="btn btn-success btn-lg" style="width: 100%;">Register</button>
                    </form>
                    <hr>
                    <p>
                        Already have an account? <a ui-sref="/login">Login</a>
                    </p>

                </div>

            </div>
        </div>
    </div>
</section>