<div ng-app="hawkerapp" ng-controller="MainCtrl as ctrl">

  <div>Selected city: {{selectedCity}}</div>
  <!--Map Display-->
  <ng-map id="mainpagemap" options="{{mapOptions}}" zoom="12" center="1.31083,103.819836">


    <!--MODAL-->
    <div class="modal fade" id="modelWindow" role="dialog">
      <div class="modal-dialog modal-sm vertical-align-center" id="modalwindow">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="modaltitle">{{selectedReview.title}}</h4>
          </div>
          <div class="modal-body" id="modaldesc">
            {{selectedReview.desc}}
            <div>
            </br>
            <img src="{{selectedReview.imgUrl}}" id="imagepreview">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!--Map Markers to represent each hawker stall-->
    <marker ng-repeat="r in reviews" options="{{markerOptions}}" position="{{r.pos}}" title="{{r.name}}" id="{{r.id}}" on-click="test(r)">
    </marker>

  </ng-map>

</div>