<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
			<a ui-sref="Main"><img src="app/assets/images/hawkerthon.png" style="width:200px;height:50px;" ui-sref="Main"></a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a class="navselect" ui-sref="Post">Post</a></li>
				<li><a class="navselect" ng-if="!ctrl.user" ui-sref="Login" ui-sref-active="active">Login</a></li>
				<li><a class="navselect" ng-if="!ctrl.user" ui-sref="Register" class="call-to-action">Register</a></li>
				<li><a class="navselect" ng-if="ctrl.user" href="/logout" ui-sref-active="active" class="call-to-action2">Logout</a></li>
	
			</ul>
		</div>

	</div>
</div>