<div class="container logincontainer">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <br>
            <!-- LOGIN FORM -->
            <form name="loginForm" ng-submit="ctrl.login()" novalidate autocomplete="off">
                <div class="form-group input-field col s6">
                    <h4 class="regtext">Username:</h4>
                    <input type="text" class="form-control" ng-model="ctrl.user.username" placeholder="Email address" name="username" required>
                </div>
                <div class="form-group input-field col s6">
                    <h4 class="regtext">Password:</h4>
                    <input type="{{ctrl.inputType}}" class="form-control" ng-model="ctrl.user.password" name="password" placeholder="Password"
                        required>
                    <br>
                </div>
                <button type="submit" class="btn btn-default btn-lg">Login</button>
            </form>
            <hr>
            <p>Need an account? <a ui-sref="SignUp">Signup</a></p>
        </div>
    </div>
</div>